body{
    margin: 0px;
    background-color:  #fcf5de;
}
/* nav  */
.list{
    list-style: none;
display: inline-flex;
color: #193765;
}
.list a:hover{
    color: #198754;;
}
.ul{
/* background-color: #fcf5de; */
display: flex;
}
.list a{
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}
#single-digit{
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.second a:hover{
   background-color:#193765;
   color: white;
}
.second{
    text-decoration: none;
margin-left: 400px;
}
.second a{
    text-decoration: none;
    margin: 5px;
    color: blue;
    border-radius: 18px;
    padding: 12px;
}
/* main  */
.middle{
    text-align: center;
    margin-top: 100px;
    color:#193765;
   font-size: 20px;
   /* background-color:  #fcf5de; */
}
.middle a{
    /* background-color: #193765; */
    border: none;
    color:lightseagreen;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
    border-radius: 16px;
}
.middle a:hover{
background-color: #193765;
color:white;
}
/* img  */
.img{
  grid-template-columns: 1fr;
}