/* google-font  */
body{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
    background-color:  #fcf5de;
}
/* nav  */
.list{
    list-style: none;
display: inline-flex;
color: #193765;
}
.list a:hover{
    color: #198754;;
}
.ul{
/* background-color: #fcf5de; */
display: flex;
}
.list a{
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
}
#single-digit{
    padding: 5px;
    color: white;
    border-radius: 10px;
}
.second a:hover{
   background-color:#193765;
   color: white;
}
.second{
    text-decoration: none;
margin-left: 400px;
}
.second a{
    text-decoration: none;
    margin: 5px;
    color: blue;
    border-radius: 18px;
    padding: 12px;
}
/* main  */
.middle{
    text-align: center;
    margin-top: 100px;
    color:#193765;
   font-size: 20px;
   /* background-color:  #fcf5de; */
  padding-bottom: 40px;
}
.middle a{
    /* background-color: #193765; */
    border: none;
    color:lightseagreen;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
    border-radius: 16px;
}
.middle a:hover{
background-color: #193765;
color:white;
}
/* img  */
.bg-color{
    background-color: white;
}
.img{
   display: flex;
   margin-top: 200px;
    margin-left: 120px; 
   background-color: white;
}
.img-1{
    width:400px;
    box-shadow: 0 8px 34px 0 rgb(40 40 43 / 6%);
     margin-top: 30px; 
     height: 400px;
    left: 0px;
    max-width: 312px;
    border-radius: 16px; 
    background-color: white;
}
.img-2{
    transform: translateY(-60px);
    border-radius: 16px;
    background-color: white;
}
/* img-end  */
.d-flex{
    display: flex;
    color:#6f7f96;
    /* margin-left: 80px; */
}
.d-flex h1{
    margin-left: 150px;
    margin-top: 70px;
}
/* middle-h1  */
.head{
    text-align: center;
     margin-top: 110px;
}
.middle-2{
    display: flex;
    color: black;
    text-align: center;
}
.middle-2 div{
    margin-left: 70px;
    margin-top: 70px;
}
/* sing up  */
.flex{
    display: flex;
    background-color: #193765;
    color: white;
    margin-top: 110px;
}
.flex a{
    color: white;
    text-decoration: none;
    /* margin-left: 300px; */
    border: 1px solid black;
    padding:10px;
}
.heading{
    margin-left: 100px;
    text-align: center;
}
.start{
    margin-top: 80px;
    margin-left: 400px;

    
}
.start a{
    border-radius: 20px;
}
.start a:hover{
   background-color: white;
   color: #193765;
}
/* according  */
.according{
    display: flex;
     margin-top: 110px; 
}
.pic{
     margin-left: 15px;
}